//=======================
// Base
//=======================
// Add whichever you need or, preferably, just copy the code from those files. Especially the breakpoints and helper variables
// @require 'base/reset'
@require 'base/variables'
@require 'base/helpers'
@require 'base/colors'
// @require 'base/layout'
// @require 'base/unicode'
@require 'base/fonts'

//=======================
// Fonts
//=======================
// See base/fonts for full listing
// If you need set-font, make sure to include the base/fonts file
// Note all projects require Benton Bold and Miller-Regular so don't change em

// Just set these classes in the HTML
set-font('benton-bold') /* Graphic headlines */
set-font('benton-regular') /* Graphic subheads */
set-font('bentonsanscond-regular') /* Graphic byline and source */

.source-and-credit
  clear both
  width 100%
  overflow hidden
  margin-top 1em

  p
    line-height 1.6
    padding 0
    margin 0
    font-size 12px
    text-align left
    float none

  .source span
    font-weight normal
    +mq('bp-2')
      float left

  .credit span
    text-transform uppercase
    +mq('bp-2')
      text-align right
      float right

#wallaroo-map
  height 500px
  font-family 'Lato'
  +mq(bp-2)
    height 600px

  .graphic__input
    position absolute
    right 20px
    bottom 20px
    height auto
    z-index 2
    background $offwhite
    opacity 0.7
    padding 1em
    width auto
    +mq(bp-2)
      width 250px
      font-size 1.1rem
      font-weight bold
      line-height 1.4

    #slider
      width 90%

.mapboxgl-popup
  line-height 1.6
  padding 1em
  font-size 1em
  +mq(bp-2)
    font-size 1.1em

.graphic
  &__legend
    position absolute
    right 20px
    top 20px
    z-index 2
    color $offwhite
    padding 1em

    .legend-text
      font-size 1.2em
      vertical-align text-bottom

    .legend-box
      height 1.2em
      width @height
      border-radius 50%
      display inline-block
      margin-right .25em

      &-1
        background #fb8072

      &-2
        background #ffffb3

  &__text
    margin .5rem 0

    &--hed
      font-weight bold
      +mq('bp-2')
        font-size 1.1rem

    &--subhed
      font-size .9rem
      +mq('bp-2')
        font-size 1rem
        margin-bottom 1rem
